<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.market.dao.SmCommodityMapper" >
  <resultMap id="BaseResultMap" type="com.market.po.SmCommodity" >
    <id column="com_id" property="comId" jdbcType="INTEGER" />
    <result column="k_id" property="kId" jdbcType="INTEGER" />
    <result column="sup_id" property="supId" jdbcType="INTEGER" />
    <result column="com_name" property="comName" jdbcType="VARCHAR" />
    <result column="com_num" property="comNum" jdbcType="VARCHAR" />
    <result column="com_state" property="comState" jdbcType="INTEGER" />
    <result column="com_brand" property="comBrand" jdbcType="VARCHAR" />
    <result column="com_produced" property="comProduced" jdbcType="VARCHAR" />
    <result column="com_ESL" property="comEsl" jdbcType="VARCHAR" />
    <result column="com_discount" property="comDiscount" jdbcType="VARCHAR" />
    <result column="com_sellprice" property="comSellprice" jdbcType="VARCHAR" />
    <result column="com_unit" property="comUnit" jdbcType="VARCHAR" />
    <result column="com_count" property="comCount" jdbcType="INTEGER" />
    <result column="com_redLine" property="comRedline" jdbcType="INTEGER" />
    <result column="shelf_id" property="shelfId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    com_id, k_id, sup_id, com_name, com_num, com_state, com_brand, com_produced, com_ESL, 
    com_discount, com_sellprice, com_unit, com_count, com_redLine, shelf_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.market.po.SmCommodityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sm_commodity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sm_commodity
    where com_id = #{comId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sm_commodity
    where com_id = #{comId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.market.po.SmCommodityExample" >
    delete from sm_commodity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.market.po.SmCommodity" >
    insert into sm_commodity (com_id, k_id, sup_id, 
      com_name, com_num, com_state, 
      com_brand, com_produced, com_ESL, 
      com_discount, com_sellprice, com_unit, 
      com_count, com_redLine, shelf_id
      )
    values (#{comId,jdbcType=INTEGER}, #{kId,jdbcType=INTEGER}, #{supId,jdbcType=INTEGER}, 
      #{comName,jdbcType=VARCHAR}, #{comNum,jdbcType=VARCHAR}, #{comState,jdbcType=INTEGER}, 
      #{comBrand,jdbcType=VARCHAR}, #{comProduced,jdbcType=VARCHAR}, #{comEsl,jdbcType=VARCHAR}, 
      #{comDiscount,jdbcType=VARCHAR}, #{comSellprice,jdbcType=VARCHAR}, #{comUnit,jdbcType=VARCHAR}, 
      #{comCount,jdbcType=INTEGER}, #{comRedline,jdbcType=INTEGER}, #{shelfId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.market.po.SmCommodity" >
    insert into sm_commodity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="comId != null" >
        com_id,
      </if>
      <if test="kId != null" >
        k_id,
      </if>
      <if test="supId != null" >
        sup_id,
      </if>
      <if test="comName != null" >
        com_name,
      </if>
      <if test="comNum != null" >
        com_num,
      </if>
      <if test="comState != null" >
        com_state,
      </if>
      <if test="comBrand != null" >
        com_brand,
      </if>
      <if test="comProduced != null" >
        com_produced,
      </if>
      <if test="comEsl != null" >
        com_ESL,
      </if>
      <if test="comDiscount != null" >
        com_discount,
      </if>
      <if test="comSellprice != null" >
        com_sellprice,
      </if>
      <if test="comUnit != null" >
        com_unit,
      </if>
      <if test="comCount != null" >
        com_count,
      </if>
      <if test="comRedline != null" >
        com_redLine,
      </if>
      <if test="shelfId != null" >
        shelf_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="comId != null" >
        #{comId,jdbcType=INTEGER},
      </if>
      <if test="kId != null" >
        #{kId,jdbcType=INTEGER},
      </if>
      <if test="supId != null" >
        #{supId,jdbcType=INTEGER},
      </if>
      <if test="comName != null" >
        #{comName,jdbcType=VARCHAR},
      </if>
      <if test="comNum != null" >
        #{comNum,jdbcType=VARCHAR},
      </if>
      <if test="comState != null" >
        #{comState,jdbcType=INTEGER},
      </if>
      <if test="comBrand != null" >
        #{comBrand,jdbcType=VARCHAR},
      </if>
      <if test="comProduced != null" >
        #{comProduced,jdbcType=VARCHAR},
      </if>
      <if test="comEsl != null" >
        #{comEsl,jdbcType=VARCHAR},
      </if>
      <if test="comDiscount != null" >
        #{comDiscount,jdbcType=VARCHAR},
      </if>
      <if test="comSellprice != null" >
        #{comSellprice,jdbcType=VARCHAR},
      </if>
      <if test="comUnit != null" >
        #{comUnit,jdbcType=VARCHAR},
      </if>
      <if test="comCount != null" >
        #{comCount,jdbcType=INTEGER},
      </if>
      <if test="comRedline != null" >
        #{comRedline,jdbcType=INTEGER},
      </if>
      <if test="shelfId != null" >
        #{shelfId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.market.po.SmCommodityExample" resultType="java.lang.Integer" >
    select count(*) from sm_commodity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sm_commodity
    <set >
      <if test="record.comId != null" >
        com_id = #{record.comId,jdbcType=INTEGER},
      </if>
      <if test="record.kId != null" >
        k_id = #{record.kId,jdbcType=INTEGER},
      </if>
      <if test="record.supId != null" >
        sup_id = #{record.supId,jdbcType=INTEGER},
      </if>
      <if test="record.comName != null" >
        com_name = #{record.comName,jdbcType=VARCHAR},
      </if>
      <if test="record.comNum != null" >
        com_num = #{record.comNum,jdbcType=VARCHAR},
      </if>
      <if test="record.comState != null" >
        com_state = #{record.comState,jdbcType=INTEGER},
      </if>
      <if test="record.comBrand != null" >
        com_brand = #{record.comBrand,jdbcType=VARCHAR},
      </if>
      <if test="record.comProduced != null" >
        com_produced = #{record.comProduced,jdbcType=VARCHAR},
      </if>
      <if test="record.comEsl != null" >
        com_ESL = #{record.comEsl,jdbcType=VARCHAR},
      </if>
      <if test="record.comDiscount != null" >
        com_discount = #{record.comDiscount,jdbcType=VARCHAR},
      </if>
      <if test="record.comSellprice != null" >
        com_sellprice = #{record.comSellprice,jdbcType=VARCHAR},
      </if>
      <if test="record.comUnit != null" >
        com_unit = #{record.comUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.comCount != null" >
        com_count = #{record.comCount,jdbcType=INTEGER},
      </if>
      <if test="record.comRedline != null" >
        com_redLine = #{record.comRedline,jdbcType=INTEGER},
      </if>
      <if test="record.shelfId != null" >
        shelf_id = #{record.shelfId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sm_commodity
    set com_id = #{record.comId,jdbcType=INTEGER},
      k_id = #{record.kId,jdbcType=INTEGER},
      sup_id = #{record.supId,jdbcType=INTEGER},
      com_name = #{record.comName,jdbcType=VARCHAR},
      com_num = #{record.comNum,jdbcType=VARCHAR},
      com_state = #{record.comState,jdbcType=INTEGER},
      com_brand = #{record.comBrand,jdbcType=VARCHAR},
      com_produced = #{record.comProduced,jdbcType=VARCHAR},
      com_ESL = #{record.comEsl,jdbcType=VARCHAR},
      com_discount = #{record.comDiscount,jdbcType=VARCHAR},
      com_sellprice = #{record.comSellprice,jdbcType=VARCHAR},
      com_unit = #{record.comUnit,jdbcType=VARCHAR},
      com_count = #{record.comCount,jdbcType=INTEGER},
      com_redLine = #{record.comRedline,jdbcType=INTEGER},
      shelf_id = #{record.shelfId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.market.po.SmCommodity" >
    update sm_commodity
    <set >
      <if test="kId != null" >
        k_id = #{kId,jdbcType=INTEGER},
      </if>
      <if test="supId != null" >
        sup_id = #{supId,jdbcType=INTEGER},
      </if>
      <if test="comName != null" >
        com_name = #{comName,jdbcType=VARCHAR},
      </if>
      <if test="comNum != null" >
        com_num = #{comNum,jdbcType=VARCHAR},
      </if>
      <if test="comState != null" >
        com_state = #{comState,jdbcType=INTEGER},
      </if>
      <if test="comBrand != null" >
        com_brand = #{comBrand,jdbcType=VARCHAR},
      </if>
      <if test="comProduced != null" >
        com_produced = #{comProduced,jdbcType=VARCHAR},
      </if>
      <if test="comEsl != null" >
        com_ESL = #{comEsl,jdbcType=VARCHAR},
      </if>
      <if test="comDiscount != null" >
        com_discount = #{comDiscount,jdbcType=VARCHAR},
      </if>
      <if test="comSellprice != null" >
        com_sellprice = #{comSellprice,jdbcType=VARCHAR},
      </if>
      <if test="comUnit != null" >
        com_unit = #{comUnit,jdbcType=VARCHAR},
      </if>
      <if test="comCount != null" >
        com_count = #{comCount,jdbcType=INTEGER},
      </if>
      <if test="comRedline != null" >
        com_redLine = #{comRedline,jdbcType=INTEGER},
      </if>
      <if test="shelfId != null" >
        shelf_id = #{shelfId,jdbcType=INTEGER},
      </if>
    </set>
    where com_id = #{comId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.market.po.SmCommodity" >
    update sm_commodity
    set k_id = #{kId,jdbcType=INTEGER},
      sup_id = #{supId,jdbcType=INTEGER},
      com_name = #{comName,jdbcType=VARCHAR},
      com_num = #{comNum,jdbcType=VARCHAR},
      com_state = #{comState,jdbcType=INTEGER},
      com_brand = #{comBrand,jdbcType=VARCHAR},
      com_produced = #{comProduced,jdbcType=VARCHAR},
      com_ESL = #{comEsl,jdbcType=VARCHAR},
      com_discount = #{comDiscount,jdbcType=VARCHAR},
      com_sellprice = #{comSellprice,jdbcType=VARCHAR},
      com_unit = #{comUnit,jdbcType=VARCHAR},
      com_count = #{comCount,jdbcType=INTEGER},
      com_redLine = #{comRedline,jdbcType=INTEGER},
      shelf_id = #{shelfId,jdbcType=INTEGER}
    where com_id = #{comId,jdbcType=INTEGER}
  </update>

  <select id="findAll" resultMap="BaseResultMap">
    SELECT * FROM sm_commodity
  </select>
</mapper>